<div class="chatBubble">
   <div class="chat-bubble {{posicao}}">
    <div class="message">{{msg.texto}}</div>
    <div class="message-detail">
         <span>{{msg.data.seconds*1000 | date:"dd/MM/y H:mm"   }}</span>
    </div>
  </div>
</div>